<html>
<head>
<meta charset=utf-8 />
<meta name="description" content="description">
 
<title>Masonry</title>
 
<link rel="stylesheet" type="text/css" media="screen" href="masonry.css"/>
 
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style type="text/css">
body
{
background-image:url('/static/images/tweed.png');
background-color:#cccccc;
}
</style>
 
</head>
 
<body>
 
	{{content}}
   
   <script src="jquery-1.7.1.min.js"></script>
   <script src="jquery.masonry.min.js"></script>
   <script>
     $(function(){
   
       var $container = $('#container');
     
       $container.imagesLoaded( function(){
         $container.masonry({
           itemSelector : '.masonryImage'
         });
       });
     
     });
   </script>
 
</body>
</html>